@font-face{
	font-family:NanumGothic;
	src:url(../fonts/NanumGothic.eot);
	src:local(※), url(../fonts/NanumGothic.woff) format(‘woff’)
}

body{
	padding-top:70px;
	font-family : 'NanumGothic';
}
.user-grade{
    margin-right: 6px;
    color: #434a54;
}
.logo{
	
	display:inline-block;
	width:200px;
	height:50px;
	background-position-y:5px !important;
}
.logo, .logo-header{
    background-image: url(../img/header_logo.png);
    background-repeat: no-repeat;
}
.logo-header{
    display: block;
    height: 40px;
    margin: 14px;
    padding-left: 0;
	background-position-x:48%;
	background-position-y:0;
	margin: 15px 0;
}
.logo-desc-heading{
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.red{
	color:red;
}
.section{
	margin-top:50px;
	
}
.carousel{
	height:400px;
}
/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.carousel-control i.fa{
	font-size: 50px;
    position: absolute;
    top: 160px;
}

.left.carousel-control{
	left:15px;
}
.right.carousel-control{
	right:15px;
}
.item.active{
	background:#434a54 !important;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-caption{
    color: black;
    background: rgba(255, 255, 255, 0.58);
    border-radius: 10px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.writer .img{
	width:20px;
	height:20px;
	display:inline-block;
	margin-right:10px;
}
.user-img-sm{
	width:50px;
	height:50px;
}

footer{
	background: #434a54;
	margin-top: 70px;
}	
#footer{
	padding:20px;
}
#footer-form{
	border-radius:10px !important;
}
#footer-form .page-header{
	font-size:20px;
	margin:10px 0;
}
#footer-form .page-header i.fa{
	margin-right:10px;
}

section{
	overflow:hidden;
}
section .page-header{
	margin : 40px 0 20px 0;
}
.ico-box{
	color:white;
	text-align:center;
}
.ico-box .fa{
	font-size:70px;
}
#link-list-wrap.well{
	border-radius:10px !important;
}
.link-list-heading{
   padding: 0 20px;
}
.link-list-heading .fa{
	margin-right:10px;
}
.link-list{
	margin: 0;
    list-style: none;
    padding: 0 20px;
    font-size: 15px;
}
ul.link-list .fa {
    margin-right: 11px;
}

ul.link-list li {
    margin-bottom: 15px;
}

ul.link-list li a {
    /* color: black; */
    font-weight: bold;
}
/* .section-header{
	background-color: #5D81A3;
	color: white;
	height: 65px;
	margin-top: 30px;
	overflow:hidden;
}

.section-icon{
	width: 80px;
	height: 65px;
	float: left;
	background: #4A6986;
}

.section-header .section-title{
	margin: 15px 0;
	float: left;
	margin-left: 20px;
} */

.section-header{
	position:relative;
}
.section-header .page-header{
	margin-top:0;
	font-size:25px;
}
.section-header .page-header i.fa{
	margin-right:8px;
}
.section-header-right{
	position:absolute;
	top:0;
	right:0;
}
.section-body{
	margin-top:30px;
}

.no-board-message{
	text-align:center;
	font-weight:bold;
	font-size:20px;
}

.side-menu-wrap.well{
	width: 100%;
    height: 400px;
    border-radius: 6px !important;
}

.post-thumbnail{
	width:80px;
	height:80px;
}
.user-image{
	width:24px;
	height:24px;
	margin-right:5px;
}
.circular-square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.input-wrap{
	position:relative;
}
.input-wrap .glyphicon,
.input-wrap .control-label{
	display:none;
}

.form-group.has-error .input-wrap .glyphicon,
.form-group.has-error .input-wrap .control-label{
	display:initial;
}
.none{
	display:none;
}
.none-i{
	display:none !important;
}

#output-photo{
	width:150px;
	height:150px;
}

.well{
	box-shadow : 1px 2px #9e9e9e !important;
	border-radius : 10px !important;
	border : 1px solid #ddd;
}

.help-block{
		
	}
	.help-block i.fa{
		margin-right:10px;
	}
	
	.tag{
	    display: inline-block;
	    padding: 5px;
	    border-radius: 10px;
	    margin-bottom:5px;
	    border: 1px solid #ddd;
	}
	.tag-list{
		margin-top:15px;
	}
	.tag .fa{
		margin-right:5px;
	}
	
	
	/* fluid 5 columns */
	.card-sizer,
	.card-wrap {
		 width: 23%;
		 margin-bottom:30px;
	 }
	/* 2 columns */
	.card-wrap--width2 {
		 width: 40%;
    }
	.card-gutter-sizer{
		width:1%;
	}
	.card-wrap,.qna-card-wrap{
	    border-radius: 10px;
	    border: 1px solid #ddd;
	    padding: 10px;
	    box-shadow: 1px 1px 1px 0px #9e9e9e;
	}
	.card-content , .qna-card-content{
		height:100px;
		overflow:hidden;
	}
	.card-thumbnail{
		width:100%;
	}
	.card-desc i.fa ,.qna-card-desc i.fa{
		margin-right:5px;
	}
	.card-desc .seperate,.qna-card-desc .seperate{
		margin-right:10px;
	}
	.qna-card-wrap{
		height:290px !important;
		margin-bottom:20px !important;
	}
	.qna-card-heading{
    	text-overflow: ellipsis;
	    word-break: break-word;
	    overflow: hidden;
	    width: 100%;
	    white-space: nowrap;
    }
    .qna-card-content{
	    overflow: hidden;
    }
    .qna-card-body{
    	height:160px;
    }
	
	.btn .fa{
		margin-right:5px;
	}
	a.tag:hover , a.tag.active{
		background:#3bafda;
		color:white;
	}
	.news-img{
		width: 85px;
   		height: 85px;
	}
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px ) {
		/* fluid 5 columns */
		.card-sizer,
		.card-wrap {
			 width: 23% !important;
		 }
		/* 2 columns */
		.card-wrap--width2 {
			 width: 40%;
	    }
	}
	
	@media( max-width : 480px ){
		.card-sizer,
		.card-wrap {
			 width: 100%;
		 }
	}
		/*태블릿 및 PC*/
	@media( max-width : 767px ){
	      /* fluid 5 columns */
		.card-sizer,
		.card-wrap {
			 width: 100% !important;
		 }
		 .news-wrap{
		 	margin-left:0 !important;
		 }
	}
	/*태블릿과 PC 중간 구역*/
	@media( min-width : 767px ) and (max-width:992px){
	    /* fluid 5 columns */
		.card-sizer,
		.card-wrap {
			 width: 47% !important;
		 }
	}
	
	/* Medium devices (desktops, 992px and up) */
	/*PC시작*/
	@media (min-width: 992px) and ( max-width:1200px) {
		.card-sizer,
		.card-wrap {
			 width: 31% !important;
		 }
	}
	
	.news-img{
		margin-top:15px;
	}
	.news-item{
		padding-bottom:10px;
		border-bottom:1px solid #ddd;
	}
	.news-heading{
		margin : 5px 0;
		font-size:16px;
	}
	
	.select-answer{
	    text-align: center;
	    font-weight:bold;
	    background: #8cc152;
	    color: white;
	    margin-bottom: 10px;
	}