<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.growth.postMapper">
	
	<insert id="insertPost" parameterType="postVO">
		INSERT INTO POST(
			POST_ID,
			TITLE,
			CONTENT,
			WRITER_ID,
			HIT_CNT,
			LIKE_CNT,
			thumbnail,
			REG_DATE,
			MOD_DATE
		) VALUES (
			#{postId},
			#{title},
			#{content},
			#{writerId},
			0,
			0,
			<if test="thumbnail == -1">
				null
			</if>
			<if test="thumbnail != -1">
				#{thumbnail}
			</if>,
			now(),
			now()
		)
		
		<selectKey resultType="int" keyProperty="postId">
			 SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<insert id="insertPostTags" parameterType="hashmap">
		INSERT INTO POST_TAG(
			POST_ID,
			TAG_NAME
		) VALUES 
		<foreach collection="tagList" item="item" separator=" , ">
			( #{postId} , #{item} )
		</foreach>
		
	</insert>
 	
 	<select id="selectPopularHashTag" resultType="string">
 		SELECT * FROM (
			SELECT TAG_NAME
				FROM POST_TAG
			GROUP BY TAG_NAME
			ORDER BY COUNT(TAG_NAME) DESC
		) TAG
		LIMIT 0,30
 	</select>
 	
 	<select id="selectPostList" resultType="postVO" parameterType="postVO">
 		SELECT * FROM (
	 		SELECT A.POST_ID,
				   A.TITLE,
				   A.CONTENT,
			       concat(left(fnStripTags(A.CONTENT),500),
						if(length(fnStripTags(A.CONTENT))>500,"...","")) PLAIN_CONTENT,
			       A.WRITER_ID,
			       B.DEPARTMENT,
			       concat(fnGetCodeNm(B.GRADE), " " , B.NAME ) name,
			       b.PHOTO PHOTO,
			       A.HIT_CNT,
			       A.LIKE_CNT,
			       A.REG_DATE,
			       A.MOD_DATE,
			       A.THUMBNAIL,
			       ( SELECT COUNT(1)
						FROM POST_COMMENT D
			            WHERE D.POST_ID = A.POST_ID) COMMENT_CNT
			FROM POST A
			INNER JOIN USERS B 
			ON A.WRITER_ID = B.EMAIL
		) T
		WHERE 1 = 1
		<if test = "searchCondition == 'tagName'">
			AND POST_ID IN (
				SELECT POST_ID
				FROM POST_TAG
				WHERE TAG_NAME IN 
				<foreach collection="tag" item="tagItem" open="(" close=")" separator=" , ">
					#{tagItem}
				</foreach>
			)
		</if>
		<if test = "searchCondition == 'keyword'">
			AND TITLE LIKE CONCAT('%',#{searchKeyword},'%') 
			 OR PLAIN_CONTENT LIKE CONCAT('%',#{searchKeyword},'%')
			 OR POST_ID IN ( SELECT POST_ID 
			 				FROM POST_TAG
			 				WHERE TAG_NAME = #{searchKeyword} )
		
		</if>
		ORDER BY HIT_CNT+(LIKE_CNT*2) DESC
 	</select>
 	
 	<select id="selectPostOne" resultType="postVO" parameterType="postVO">
		SELECT A.POST_ID,
			   A.TITLE,
			   A.CONTENT,
		       fnStripTags(A.CONTENT) PLAIN_CONTENT,
		       A.WRITER_ID,
		       B.DEPARTMENT DEPARTMENT,
		       concat(fnGetCodeNm(B.GRADE), " " , B.NAME ) name,
		       b.PHOTO PHOTO,
		       A.HIT_CNT,
		       A.LIKE_CNT,
		       A.REG_DATE,
		       A.MOD_DATE,
		       A.THUMBNAIL,
		       (SELECT COUNT(1)
					FROM POST_LIKE
					WHERE USER_EMAIL = A.WRITER_ID
					AND   POST_ID    = #{postId} ) LIKE_YN, 
		       ( SELECT COUNT(1)
					FROM POST_COMMENT D
		            WHERE D.POST_ID = A.POST_ID) COMMENT_CNT
		FROM POST A
		INNER JOIN USERS B 
		ON A.WRITER_ID = B.EMAIL
		WHERE POST_ID = #{postId}
 	</select>
	
	<update id="updateHitCount" parameterType="postVO">
		UPDATE POST SET HIT_CNT = HIT_CNT + 1 
			WHERE POST_ID = #{postId}
	</update> 	
	
	<update id="updateLikeCount" parameterType="postVO">
		UPDATE POST SET LIKE_CNT = (
				 SELECT COUNT(1) 
				 FROM POST_LIKE
				 WHERE POST_ID = #{postId}
		  )
		WHERE POST_ID = #{postId}
	</update>
	
	<insert id="insertPostLike" parameterType="postVO">
		INSERT INTO POST_LIKE(
			USER_EMAIL,
			POST_ID
		) VALUES ( 
			#{writerId},
			#{postId}
		)
	</insert>
	
	<select id="selectPostLikeCnt" parameterType="postVO" resultType="int">
		SELECT COUNT(1)
		FROM POST_LIKE
		WHERE USER_EMAIL = #{writerId}
		AND   POST_ID    = #{postId} 
	</select>
	
	<delete id="deletePostLike" parameterType="postVO">
		DELETE FROM POST_LIKE
		WHERE USER_EMAIL = #{writerId}
		AND   POST_ID    = #{postId} 
	</delete>
	
	
	<select id="selectPostComments" parameterType="postVO" resultType="postVO">
		SELECT A.POST_ID,
		       A.COMMENT_ID,
			   A.CONTENT,
			  A.WRITER_ID,
			  B.PHOTO PHOTO,
			  CONCAT(fnGetCodeNm(B.GRADE)," ",B.NAME) NAME,
			  A.REG_DATE,
			  A.MOD_DATE
		FROM POST_COMMENT A 
			INNER JOIN USERS B
		ON A.WRITER_ID = B.EMAIL
		WHERE POST_ID = #{postId}
		
	</select>
	<insert id="insertPostComment" parameterType="postVO" >
		INSERT INTO POST_COMMENT(
			POST_ID,
			CONTENT,
			WRITER_ID,
			REG_DATE,
			MOD_DATE
		) VALUES (
			#{postId},
			#{content},
			#{writerId},
			now(),
			now()
		)
	</insert>
	
</mapper>