<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.growth.userMapper">
    <select id="getCurrentDateTime" resultType="String">
      SELECT Now() from dual
    </select>
    
    <insert id="insertUser" parameterType="userVO" >
    	INSERT INTO `growth`.`users`
		(
			`email`,
			`password`,
			`department`,
			`grade`,
			`name`,
			`photo`,
			`type`,
			`auth`,
			`reg_date`,
			`mod_date`
		)
		VALUES
		(
			#{email},
			#{password},
			#{department},
			#{grade},
			#{name},
			#{photo},
			#{type},
			'ROLE_USER',
			now(),
			now()
		)
    </insert>
    
    <insert id="insertUserPointHistory" parameterType="userVO">
    	INSERT INTO USER_POINT_HISTORY(
    		USER_EMAIL,
    		ACTIVITY,
    		POINT,
    		REG_DATE,
    		MOD_DATE
    	) 
    	VALUES 
    	(
    		#{email},
    		#{activity},
    		#{point},
    		now(),
    		now()
    	)
    </insert>

	<update id="updateUserPoint" parameterType="string" >
		UPDATE USERS SET point = ( 
							select sum  from (
								SELECT
									USER_EMAIL,
									SUM(POINT) sum
									FROM USER_POINT_HISTORY
									WHERE USER_EMAIL = #{email}
									GROUP BY USER_EMAIL
							) T
						)
			WHERE 1=1
			AND EMAIL = #{email}
	</update>
    
    <select id="findUser" parameterType="userVO" resultType="userVO">
    	SELECT EMAIL,
    		   PASSWORD,
    		   DEPARTMENT,
    		   GRADE,
    		   NAME,
    		   PHOTO,
    		   TYPE,
    		   AUTH,
    		   REG_DATE,
    		   MOD_DATE
    	FROM USERS
    	WHERE 1=1
    	<if test="email != null">
    		AND EMAIL = #{email}
    	</if>
    </select>
    
    <select id="selectUserList" parameterType="userVO" resultType="userVO">
    	SELECT * FROM (
    		SELECT EMAIL,
	    		  DEPARTMENT,
	    		  fnGetCodeNm(GRADE) gradeNm,
	    		  NAME,
	    		  PHOTO,
	    		  TYPE,
	    		  AUTH,
	    		  REG_DATE,
	    		  MOD_DATE,
	    		  POINT
	    	FROM USERS
	    	ORDER BY POINT desc
    	) T 
    	LIMIT 0,10
    </select>
</mapper>

